@charset "UTF-8";

@font-face {
  font-family: "ndflx-feature-icon";
  src:url("fonts/ndflx-feature-icon.eot");
  src:url("fonts/ndflx-feature-icon.eot?#iefix") format("embedded-opentype"),
    url("fonts/ndflx-feature-icon.woff") format("woff"),
    url("fonts/ndflx-feature-icon.ttf") format("truetype"),
    url("fonts/ndflx-feature-icon.svg#ndflx-feature-icon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ndflx-feature-icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ndflx-feature-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-assessment:before {
  content: "\61";
}
.icon-board:before {
  content: "\62";
}
.icon-chat:before {
  content: "\63";
}
.icon-collabolators:before {
  content: "\64";
}
.icon-dataset:before {
  content: "\65";
}
.icon-detection-file:before {
  content: "\66";
}
.icon-dev:before {
  content: "\67";
}
.icon-gis:before {
  content: "\68";
}
.icon-help:before {
  content: "\69";
}
.icon-label:before {
  content: "\6a";
}
.icon-leaderboard:before {
  content: "\6b";
}
.icon-live:before {
  content: "\6c";
}
.icon-planogram:before {
  content: "\6d";
}
.icon-pointing:before {
  content: "\6e";
}
.icon-profile:before {
  content: "\6f";
}
.icon-project-summary:before {
  content: "\70";
}
.icon-report:before {
  content: "\71";
}
.icon-team:before {
  content: "\72";
}
.icon-trans:before {
  content: "\73";
}
.icon-usage:before {
  content: "\74";
}
.icon-version:before {
  content: "\75";
}
