@charset "UTF-8";

@font-face {
  font-family: "ndflx-sys-icon";
  src:url("fonts/ndflx-sys-icon.eot");
  src:url("fonts/ndflx-sys-icon.eot?#iefix") format("embedded-opentype"),
    url("fonts/ndflx-sys-icon.woff") format("woff"),
    url("fonts/ndflx-sys-icon.ttf") format("truetype"),
    url("fonts/ndflx-sys-icon.svg#ndflx-sys-icon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ndflx-sys-icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ndflx-sys-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-all-area:before {
  content: "\61";
}
.icon-arrow-left:before {
  content: "\62";
}
.icon-arrow-right:before {
  content: "\63";
}
.icon-attach:before {
  content: "\64";
}
.icon-attach-cam:before {
  content: "\65";
}
.icon-back:before {
  content: "\66";
}
.icon-calendar:before {
  content: "\67";
}
.icon-calibrate:before {
  content: "\68";
}
.icon-cam-disable:before {
  content: "\69";
}
.icon-cam-normal:before {
  content: "\6a";
}
.icon-cart:before {
  content: "\6b";
}
.icon-check:before {
  content: "\6c";
}
.icon-chessboard:before {
  content: "\6d";
}
.icon-code-mode:before {
  content: "\6e";
}
.icon-col-box:before {
  content: "\6f";
}
.icon-copy:before {
  content: "\70";
}
.icon-delete:before {
  content: "\71";
}
.icon-directory:before {
  content: "\72";
}
.icon-disconnect:before {
  content: "\73";
}
.icon-doub-left:before {
  content: "\74";
}
.icon-doub-right:before {
  content: "\75";
}
.icon-download:before {
  content: "\76";
}
.icon-drag-horizontal:before {
  content: "\77";
}
.icon-drag-vertical:before {
  content: "\78";
}
.icon-drawer:before {
  content: "\79";
}
.icon-drop-down:before {
  content: "\7a";
}
.icon-drop-up:before {
  content: "\41";
}
.icon-edge:before {
  content: "\42";
}
.icon-edit:before {
  content: "\43";
}
.icon-enrollment:before {
  content: "\44";
}
.icon-external:before {
  content: "\45";
}
.icon-filter:before {
  content: "\46";
}
.icon-find-face:before {
  content: "\47";
}
.icon-folder:before {
  content: "\48";
}
.icon-fullscreen:before {
  content: "\49";
}
.icon-generic:before {
  content: "\4a";
}
.icon-globe:before {
  content: "\4b";
}
.icon-graphic:before {
  content: "\4c";
}
.icon-grid:before {
  content: "\4d";
}
.icon-info:before {
  content: "\4e";
}
.icon-key:before {
  content: "\4f";
}
.icon-linked:before {
  content: "\50";
}
.icon-listed:before {
  content: "\51";
}
.icon-lock-off:before {
  content: "\52";
}
.icon-lock-on:before {
  content: "\53";
}
.icon-log-history:before {
  content: "\54";
}
.icon-mail:before {
  content: "\55";
}
.icon-more:before {
  content: "\56";
}
.icon-non-full:before {
  content: "\57";
}
.icon-notif:before {
  content: "\58";
}
.icon-pdf:before {
  content: "\59";
}
.icon-pen-button:before {
  content: "\5a";
}
.icon-picker:before {
  content: "\30";
}
.icon-placeholder:before {
  content: "\31";
}
.icon-plate-num:before {
  content: "\32";
}
.icon-play:before {
  content: "\33";
}
.icon-plus:before {
  content: "\34";
}
.icon-plus-big:before {
  content: "\35";
}
.icon-printer:before {
  content: "\36";
}
.icon-refresh:before {
  content: "\37";
}
.icon-root-child:before {
  content: "\38";
}
.icon-root-last:before {
  content: "\39";
}
.icon-search:before {
  content: "\21";
}
.icon-setting:before {
  content: "\22";
}
.icon-show-off:before {
  content: "\23";
}
.icon-show-on:before {
  content: "\24";
}
.icon-sign-out:before {
  content: "\25";
}
.icon-topup:before {
  content: "\26";
}
.icon-up-down:before {
  content: "\27";
}
.icon-upload:before {
  content: "\28";
}
.icon-verticalized:before {
  content: "\29";
}
.icon-warning:before {
  content: "\2a";
}
.icon-x:before {
  content: "\2b";
}
